table {
  width: 50%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  
}
th {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
td {
  border: 1px solid #ccc;
  padding: 8px;
}
.Monday{
  color:green;
}
.Tuesday{
  color:orange;
}
.Wednesday{
  color:yellow;
}
.Thursday{
  color:black;
  font-weight: bold;
}
.Friday{
  color:blue;
}
.Saturday{
  color:red;
  font-weight: bold;
}
.Sunday{
  color:red;
}
.center{
  text-align: center;
}
menu {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.pagelist{
  color:red;
  cursor: pointer;
}
.pagedetails{
  display:none;
}
.heading{
  color:royalblue
}
.value{
  color:green
}